*.xcuserstate
*DS_Store*
*.DS_Store
*atlassian*
*.idea/*
 .ipynb_checkpoints/**
Pods/*
*.yml~
*.png
__pycache__/*
**/*.nc
**/__pycache__/*
*.pyc
*with_corners/*
*PET0.ESMF*
Data/*
*.nc
coverage.xml*
Results/*
results/*
coverage.xml
.coverage*
