*.xcuserstate
*DS_Store*
*.idea
*.DS_Store
*atlassian*
Pods/*
*.yml~
*.png
__pycache__/*
**/*.nc
**/__pycache__/*
*.pyc
*with_corners/*
*PET0.ESMF*
Data/*
*.nc
coverage.xml*
.idea/*
Results/*
results/*
